* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background: rgba(245, 245, 245, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px gainsboro;
}

h2 {
    color: blueviolet;
    text-emphasis: "*";
}

#intro-section,
#difficulty-choice,
#turns-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#turns-section{
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;
}

input:read-only{
    background: rgb(240, 240, 240);
    cursor: not-allowed;
}

#high-number,
#low-number,
#failure,
#success-number {
    height: 3rem;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    animation-name: appear;
    animation-duration: 1s;
}

#high-number,
#failure,
#low-number {
    color: rgba(255, 0, 0, 0.8);
    background: rgb(253, 222, 222);
}

#failure{
    gap: 5px;
}

#success-number {
    color: green;
    background: rgb(175, 235, 175);
}

button {
    padding: 15px;
    background: linear-gradient(180deg, rgba(138, 43, 226, 0.6),  rgba(138, 43, 226, 0.8), rgba(138, 43, 226, 0.6));
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#facile,
#intermediaire,
#difficile{
    width: 100%;
}

#restart-button,
#menu-button
{
    display: none;
    animation-name: appear;
    animation-duration: 1s;
}

span {
    font-weight: bold;
}

.error {
    border: 2px solid red !important;
}

.success {
    border: 2px solid green !important;
}

button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

@keyframes appear {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}